@media (max-width: 575px) {
    .ant-row.ant-form-item > .ant-form-item-label {
        flex: 1 !important;
        min-width: 95px !important;
    }

    .ant-row.ant-form-item > .ant-form-item-control {
        flex: 4 !important;
    }
}

@media (max-width: 400px) {
    .bp > span:nth-child(1) {
        width: 40%;
    }
    .bp > span:nth-child(2) {
        width: 60%;
    }

    .ant-card-body {
        padding: 24px 12px !important;
    }
}

.ant-space-item .ant-radio-button-wrapper {
    width: 100%;
}
label.ant-radio-button-wrapper {
    overflow: hidden;
}

.bp > span {
    width: 50%;
}
